:root {
  --black: #171717;
  --gray900: #4E606D;
  --gray500: #93A2AD;
  --gray300: #BBCBD3;
  --gray100: #BBCBD3;
  --white: #FCFCFC;
  --red900: #871928;
  --red900: #B7000F;
  --red500: #CA6C6A;
  --blue900: #055175;
  --blue500: #BBCBD3;
  --blue100: #6DC7DA;
}