
:root {
  /* Color variables */
  --black: #171717;
  --gray900: #4E606D;
  --gray500: #93A2AD;
  --gray300: #BBCBD3;
  --gray100: #BBCBD3;
  --white: #FCFCFC;
  --red900: #871928;
  --red500: #B7000F;
  --red100: #CA6C6A;
  --blue900: #055175;
  --blue500: #BBCBD3;
  --blue100: #6DC7DA;

  /* Font Size */
  --title: 3rem;

  /* Breakpoint */
  --desktop: 1024px;
}

.Header {
  text-align: center;
  padding: 3rem 0;
}

.Logo {
  font-size: var(--title);
  color: var(--white);
}
